@media screen and (max-width: 992px) {
    /* .container{

    } */
}
@media screen and (max-width: 576px) {
    .bann, .bann-home{
        display: none;
    }
    .container{
        flex-direction: column-reverse;
    }
    .our-plants{
        width: 95%;
    }
    .main-cart-box{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
    }
}