@media screen and (max-width: 576px) {

    .bann,
    .bann-home {
        display: none;
    }

    .container {
        flex-direction: column-reverse;
    }

    .our-plants {
        width: 95%;
    }


    .cart-box img {
        width: 100%;
        height: auto;
    }
    .cart-section{
        width: 100%;
    }
    .btn{
        padding: 10px 30px;
    }

    .main-cart-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .flower-lover-section {
        flex-direction: column;
        width: 95%;
        margin: 40px auto;
    }

    .flower-img img {
        width: 100%;
        height: auto;
    }

    .badge {
        display: none;
    }
    .challange-section{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .colorful-bunch{
        background-size: contain;
    }
    .colorful-bunch h1{
        font-size: 1.125rem;
        padding-top: 80px;
    }
    .inp-file{
        padding-bottom: 80px;
    }
    .inp-file input{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        font-size: .5rem;
    }
    .inp-file button{
        font-size: .5rem;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }
}