*{
    margin: 0;
    padding: 0;
}

.work-sans-file {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.header{
    width: 79%;
    margin: 30px auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.banner ul{
    display: flex;
    list-style: none;
}
.banner ul li a{
    text-decoration: none;
}
.banner .bann-home{
    margin-right: 3rem;
    font-weight: bold;
    font-size: 1rem;
    color: #252432;
}
.banner .bann{
    margin-right: 3rem;
    font-size: 1rem;
    font-weight: normal;
    color: #8987A1;
}
.banner .bann-cart{
    color: #000000;
}
.container{
    display: flex;
    width: 79%;
    height: auto;
    margin: 90px auto;
    align-items: end;
}
.left-container h1{
    color: #000000;
    font-size: 4rem;
    font-weight: bold;
}
#left-container-color{
    color: #E95A08;
}
.container-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    font-weight: normal;
    margin-top: 13px;
}

/* section-2 */
#unic-color{
    color: #E95A08;
}
.our-plants{
    width: 79%;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.our-main-head{
    font-size: 3.125rem;
    font-weight: bold;
    color: #000000;
}
/* cart section cart box  */

.cart-box{
    text-align: center;
}
.cart-box h5{
    font-size: 1.375rem;
    font-weight: normal;
    color: #111111;
    margin-top: 30px;
}
.cart-box h4{
    font-size: 1.375rem;
    font-weight: bold;
    color: #111111;
    margin-top: 20px;
}
.btn{
    font-size: 1rem;
    font-weight:600;
    color: #ffffff;
    background-color: #E95A08;
    margin-top: 30px;
    border: none;
    padding: 19px 80px;
}
.cart-section{
    width: 79%;
    height: auto;
    margin: 49px auto;
    align-items: center;

}
.main-cart-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}
/* flower love section */

.flower-lover-section{
    display: flex;
    width: 69%;
    height: auto;
    align-items: center;
    margin: 200px auto;
    gap: 60px;
}
.main-list-item{
    margin-top: 20px;
}

.badge{
    width: 286px;
    height: 286px;
    position: absolute;
    margin-top: -941px;
    margin-left: 564px;
}

/* challange section */

.challange-section{
    width: 79%;
    margin: 120px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.offer-left{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.offer-card{
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    color:#ffffff;
}
.offer-card::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.offer-card h3, .offer-card .shop-now{
    position: relative;
    z-index: 2;
    text-align: center;
}
.offer-card h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30%;
}
.shop-now{
    display: block;
    margin-top: 10px;
    margin-bottom: 90px;
    text-decoration: underline;
    font-weight: 600;
}

.offer-60{
    background-image: url(assets/deal-bloom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.offer-25{
    background-image: url(assets/deal-zabo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.offer-30{
    background-image: url(assets/deal-ana.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* colorful bunch */
.colorful-bunch{
    width: 100%;
    height: auto;
    background-image: url(assets/news-letter-bg.png);
    text-align: center;
    align-items: center;
    /* padding: 190px 300px; */
    background-repeat: no-repeat;
    background-size: cover;
}
.colorful-bunch h1{
    font-size: 3.125rem;
    font-weight: bold;
    color: #ffffff;
    padding-top: 199px;
}
.inp-file{
    margin-top: 5px;
    padding-bottom: 199px;
}
.inp-file input{
    padding-top: 15px;
    padding-bottom: 15.5px;
    padding-left: 20px;
    font-size: 1rem;
    font-weight: bold;
    /* width: 644px; */
    color: rgba(0, 0, 0, 0.5);
}
.inp-file button{
    font-size: 1rem;
    font-weight: 600;
    background-color: #E95A08;
    color: #ffffff;
    border: none;
    padding: 17px 46px;
    margin-left: -2px;
}



/*  hide  */
.hide{
    display: none;
}