*{
    margin: 0;
    padding: 0;
}

.work-sans-file {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.header{
    width: 79%;
    margin: 30px auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.banner ul{
    display: flex;
    list-style: none;
}
.banner ul li a{
    text-decoration: none;
}
.banner .bann-home{
    margin-right: 3rem;
    font-weight: bold;
    font-size: 1rem;
    color: #252432;
}
.banner .bann{
    margin-right: 3rem;
    font-size: 1rem;
    font-weight: normal;
    color: #8987A1;
}
.banner .bann-cart{
    color: #000000;
}
.container{
    display: flex;
    width: 79%;
    height: auto;
    margin: 90px auto;
    align-items: end;
}
.left-container h1{
    color: #000000;
    font-size: 4rem;
    font-weight: bold;
}
#left-container-color{
    color: #E95A08;
}
.container-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    font-weight: normal;
    margin-top: 13px;
}

/* section-2 */
#unic-color{
    color: #E95A08;
}
.our-plants{
    width: 79%;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.our-plants h1{
    font-size: 3.125rem;
    font-weight: bold;
    color: #000000;
}
/* cart section cart box  */

.cart-box{
    text-align: center;
}
.cart-box h5{
    font-size: 1.375rem;
    font-weight: normal;
    color: #111111;
    margin-top: 30px;
}
.cart-box h4{
    font-size: 1.375rem;
    font-weight: bold;
    color: #111111;
    margin-top: 20px;
}
.btn{
    font-size: 1rem;
    font-weight:600;
    color: #ffffff;
    background-color: #E95A08;
    margin-top: 30px;
    border: none;
    padding: 19px 80px;
}
.main-cart-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    width: 79%;
    height: auto;
    margin: 49px auto;
    align-items: center;
}
.flower-lover-section{
    display: flex;
    width: 69%;
    height: auto;
    align-items: center;
    margin: 100px auto;
}




/*  hide  */
.hide{
    display: none;
}